{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nosotros{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>Nosotros</h1>
    <p class="lead">El colectivo Rectángulo, compuesto por el fotógrafo Richard Salgado y por el realizador Miguel Luna, nace en el 2012 en Santiago de Chile en base al encuentro entre la fotografía y el cine, mientras ambos se forman como documentalistas en la Universidad de Chile.
        El primer proyecto del colectivo es el webdoc Rectángulo en el Ojo en el cual se instalan las primeras motivaciones y ejes de acción del colectivo. La creación de series de cortometrajes multimedia con discurso unitario en cada obra, la narración documental, así como el trabajo colaborativo de los miembros son algunos de ellos. “Rectángulo en el Ojo” se estrenó en el 2014 y ha tenido una extensa difusión en festivales internacionales.</p>
  </div>
</div>
{% endblock %}